

body {
  font-family: Tahoma, sans-serif
  color:#2E2E3A;
  align: center;
}

div {
  text-align: center;
}

#header {
  position: relative;
  font-family: Tahoma, sans-serif;
  font-size: 1em
  top: 10px;
}
#navbar {
	position: fixed;
	top:10px;
	left:80%;
}

ul{
	list-style-type: none;
	position: fixed;
}

li {
	display: inline-block;
	font-family: Tahoma, sans-serif;
	color: blue;
}

.titles{
  font-family: Tahoma;
  font-size: 1em
}
